<!-- Collapsable Card Example -->
<div class="card shadow mb-4 border-left-primary">
    <!-- Card Header - Accordion -->
    <a href="#phone-tablet" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="phone-tablet">
        <h6 class="m-0">Điện thoại - Máy tính bảng</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="phone-tablet">
        <div class="card-body">
            <div class="list-group-item"> Apple
            </div>
            <div class="list-group-item"> Samsung
            </div>
            <div class="list-group-item"> XiaoMi
            </div>
            <div class="list-group-item"> Huawei
            </div>
            <div class="list-group-item"> Oppo
            </div>
            <div class="list-group-item"> Nokia
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4 border-left-primary">
    <!-- Card Header - Accordion -->
    <a href="#phukien" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="phukien">
        <h6 class="m-0">Phụ kiện - thiết bị số</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="phukien">
        <div class="card-body">
            <a href="#tainghe"  class="list-group-item" data-toggle="collapse" role="button" aria-expanded="true"
                    aria-controls="tainghe"> Tai nghe </a>
            <div class="collapse show" id="tainghe">
                <div class="card-body">
                    <div class="list-group-item"> Có dây
                    </div>
                    <div class="list-group-item"> Không dây
                    </div>
                    <div class="list-group-item"> Nhét tai
                    </div>
                    <div class="list-group-item"> Chụp tai
                    </div>
                </div>
            </div>
            <div class="list-group-item"> Củ sạc
            </div>
            <div class="list-group-item"> Cáp sạc
            </div>
            <div class="list-group-item"> Ốp lưng
            </div>
            <div class="list-group-item"> Loa
            </div>
        </div>
    </div>
</div>