<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Mã sản phẩm</th>
            <th>Tên</th>
            <th>Ngành hàng</th>
            <th>Nội dung</th>
            <th>Số lượng</th>
            <th>Giá tiền</th>
            <th>Tùy chọn</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Mã sản phẩm</th>
            <th>Tên</th>
            <th>Ngành hàng</th>
            <th>Nội dung</th>
            <th>Số lượng</th>
            <th>Giá tiền</th>
            <th>Tùy chọn</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>9255921646436</td>
            <td>Điện thoại iphone 11 64Gb</td>
            <td>Điện thoại - Máy tính bảng > Apple </td>
            <td>Iphone 11 là sản phẩm kế nhiệm cho chiếc iPhone Xr từng dành được sự chú ý của giới công nghệ...</td>
            <td>100</td>
            <td>20.990.000 ₫</td>
            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
              <span><a href="#" class="text-danger">Xóa</a></span></td>
          </tr>
          <tr>
            <td>6504155455370</td>
            <td>Tai Nghe Nhét Tai Sony ExtraBass MDR-XB55AP</td>
            <td>Phụ kiện - Thiết bị số > Tai nghe > Có dây / nhét tai </td>
            <td>Tai Nghe Nhét Tai Sony Extra Bass MDR-XB55AP có thiết kế siêu tinh tế với kiểu dáng nhỏ gọn, nhiều màu
              sắc...</td>
            <td>118</td>
            <td>729.000 ₫</td>
            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
              <span><a href="#" class="text-danger">Xóa</a></span></td>
          </tr>
          <tr>
            <td>1183948925044</td>
            <td>Điện Thoại Xiaomi Redmi Note 8 Pro (6GB/64GB)</td>
            <td>Điện thoại - Máy tính bảng > Xiaomi </td>
            <td>Điện thoại Xiaomi Redmi Note 8 Pro là mẫu điện thoại tầm trung mới nhất của Xiaomi, với thiết kế đẹp mắt...</td>
            <td>99</td>
            <td>5.689.000 ₫</td>
            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
              <span><a href="#" class="text-danger">Xóa</a></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>