<!-- DataTales Example -->
<div class="card shadow mb-4">
    <a href="#pend" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="pend">
        <h6 class="m-0 font-weight-bold text-primary">Chờ xử lý</h6>
    </a>
    <div class="collapse show" id="pend">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ giao</th>
                            <th>Số lượng</th>
                            <th>Giá tiền</th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ giao</th>
                            <th>Số lượng</th>
                            <th>Giá tiền</th>
                            <th>Tùy chọn</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>9255921646436</td>
                            <td>Điện thoại iphone 11 64Gb</td>
                            <td>Cedric Kelly</td>
                            <td>Edinburgh</td>
                            <td>1</td>
                            <td>20.990.000 ₫</td>
                            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
                                <span><a href="#" class="text-danger">Xóa</a></span></td>
                        </tr>
                        <tr>
                            <td>6504155455370</td>
                            <td>Tai Nghe Nhét Tai Sony ExtraBass MDR-XB55AP</td>
                            <td>Cedric Kelly</td>
                            <td>Edinburgh</td>
                            <td>1</td>
                            <td>729.000 ₫</td>
                            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
                                <span><a href="#" class="text-danger">Xóa</a></span></td>
                        </tr>
                        <tr>
                            <td>1183948925044</td>
                            <td>Điện Thoại Xiaomi Redmi Note 8 Pro (6GB/64GB)</td>
                            <td>Thor Walton</td>
                            <td>New York</td>
                            <td>1</td>
                            <td>5.689.000 ₫</td>
                            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
                                <span><a href="#" class="text-danger">Xóa</a></span></td>
                        </tr>
                        <tr>
                            <td>9255921646436</td>
                            <td>Điện thoại iphone 11 64Gb</td>
                            <td>Trần Minh Tân</td>
                            <td>TP Hồ Chí Minh</td>
                            <td>1</td>
                            <td>20.990.000 ₫</td>
                            <td class="text-center"><span><a href="#" class="text-primary">Sửa</a></span> |
                                <span><a href="#" class="text-danger">Xóa</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>